.LoginForm__container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
    padding: 40px 30px;
    border-radius: 10px;
    background-color: white;
    gap: 20px;
   
}

.LoginForm__container form {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.LoginForm__input{
    width: 100%;
    height: auto;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 14px;
    transition: border-color 0.3s;
    border-radius: 4px;
    
}

.LoginForm__input:focus{
    outline: none;
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.LoginForm__container p{
   font-weight: 600;
   
}

.LoginForm__options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;

}

.LoginForm__container button {
    width: 130px;
    height: 40px;
    background-color: rgb(61, 140, 208);
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
    color: white;
    font-weight: 600;
    font-size: 16px;
   
}

.LoginForm__container button:active {
    background-color: aliceblue;
    border: 2px solid  rgb(61, 140, 208);
    color:  rgb(61, 140, 208);
   
   
}

.LoginForm__container a {
    font-size: 13px;
    text-decoration: underline;
    color: rgb(51, 51, 206);
    
}

