.Loading__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Loading__content p {
    margin-top: 20px !important;
    font-size: 22px;
}

.Loading__component {
    font-size: 68px;
    color: #1A76D2 !important;
}